Xft*dpi:              96
Xft*antialias:        True
Xft*hinting:          None

urxvt.scrollBar: false
Xcursor.theme: Xcursor
!*.font: xft:Inconsolata:size=9
URxvt.font:xft:xos4 Terminus:size=9

!TomorrowNightEighties
#define t_background            #2d2d2d
#define t_current_line          #393939
#define t_selection      	#515151
#define t_foreground      	#cccccc
#define t_comment	     	#999999
#define t_red		     	#f2777a
#define t_orange	     	#f99157
#define t_yellow        	#ffcc66
#define t_green	        	#99cc99
#define t_aqua	        	#66cccc
#define t_blue	        	#6699cc
#define t_purple        	#cc99cc

! special
*.foreground:   #f1ebeb
*.background:   #272822
*.cursorColor:  #f1ebeb

! black
*.color0:       #48483e
*.color8:       #76715e

! red
*.color1:       #dc2566
*.color9:       #fa2772

! green
*.color2:       #8fc029
*.color10:      #a7e22e

! yellow
*.color3:       #d4c96e
*.color11:      #e7db75

! blue
*.color4:       #55bcce
*.color12:      #66d9ee

! magenta
*.color5:       #9358fe
*.color13:      #ae82ff

! cyan
*.color6:       #56b7a5
*.color14:      #66efd5

! white
*.color7:       #acada1
*.color15:      #cfd0c2
