/* * Do not remove the @namespace line -- it's required for correct functioning */
/* set default namespace to XUL */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#content browser{margin-right:-14px !important;
overflow-y:scroll; overflow-x:hidden;}
.tab-close-button{display:none !important;}


/* --------------------------------- Link ---------------------------- */
/* Remove Bookmark This Link... */
#context-bookmarklink {
 display: none !important; 
}
/* Remove Save Link As... */
#context-savelink {
 display: none !important; 
}
/* Remove the separator below the "Open Link in ..." items */
#context-sep-open {
 display: none !important;   
}
/* Remove Copy Email Address */
#context-copyemail {
 display: none !important;   
}
/* ------------------------------- End Link ---------------------------- */

/* ----------------------------- Images ------------------------------ */
/* Remove separator below the Copy Image Location item */
#context-sep-copyimage {
 display: none !important;   
}
/* Remove Email image */
#context-emailimage{
   display: none !important;
}
/* Remove Send image */
#context-sendimage{
   display: none !important;
}
/* -------------------------- End Images ------------------------------ */